body{
    font-family: sans-serif;
    margin: 0px;
    background-color: azure;
    padding: 0px;
    max-height: 100vh;
}

.evil {
    height: 100vh;
   max-width: 40vw;
   margin-right: 5vw;   
}
.container{
    display: flex;
    flex-flow: row wrap;
   
}


.title{
    color:darkseagreen;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about{
    color: darkseagreen;
    font-size: large;
}

.disclaimer{
    text-align: center;
}



.form{
    
   box-shadow: 10px 10px 20px -2px darkseagreen;
   
   /*
   border-style: solid;
   border-color: lightslategray;
   */
  
   padding: 20px;

}
.text{
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

label {
    color: lightslategray;
    font-weight: 600;
}

.form2 {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.item{
    display: flex;
    flex-flow: column wrap;
    min-width: 40%;
    
}




input {
    display: flex;
    height: 15px;
    background-color: lightcyan;
}

input:focus{
    border: 3px solid blue;
    
}

.sub-button{
    margin-top: 5vh;
}

.submit{
    font-family: sans-serif;
    padding: 10px;
    font-weight: 700;
    border-color:lightslategray;
    background-color:lightcyan;
    color: darkseagreen;
    border-radius: 10%;
    box-shadow: 10px 10px 20px -2px darkseagreen;
}

footer {
    
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.footer {
    margin-right: 5px;
}

.github-logo:hover{
    transform: scale(1.25);
}